.userInfo img {
    width: 100%;
    height: auto;
    display: block;
}

.userInfo {
    padding: 1em;
    box-shadow: 3px 12px 30px -4px rgba(0, 0, 0, 0.75);
    margin-right: 1em;
    margin-bottom: 1em;
}

.usersWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1em;
}

.pageTitle {
    margin: 0 0 1em;
}

.userAvatar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.userBioListItem {
    font-size: 0.5em;
    line-height: 12px;
    color: #333333;
}

.unfollow {
    width: 100%;
}
.follow {
    width: 100%;
}

button:disabled,button[disabled]{
    opacity: 0.2;;
}

.activePage{
    font-weight: bold;
}
.usersPaginationList {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 1em;
}
.usersPaginationList li{
    margin-right: 1em;
    cursor: pointer;
}

@media(min-width:650px) {
    .userBioListItem {
        font-size: 1em;
        line-height: 21px;
    }

    .usersWrapper {
        margin-bottom: 2em;
        font-weight: bold;
    }

    .userInfo {
        width: 27%;
    }
    /* .userInfo img {} */
}
