.header {
    background-color: var(--main-color);
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0.5em;
    position: relative;
}

.header__login {
    position: absolute;
    right: 0;
    top: 4px;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.headerUserId {
    text-transform: uppercase;
    font-weight: bold;

}

.header__userinfo {
    text-decoration: none;
    font-size: 2em;
    display: block;
    padding: 0 14px;
    color: var(--main-color);
};