.header {
    background-color: var(--main-color);
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0.5em;
    position: relative;
    display: flex;
}

.headerUserId {
    text-transform: uppercase;
    font-weight: bold;
}
.header__userinfo__auth_btn{
    position: absolute;
    right: 0.2em;
    top: 0.5em;
    font-size: 1rem;
    padding: 5px 14px;
    text-transform: uppercase;
}

.header__userinfo__auth_btn:active{
    background-color: #3f51b543;
    color: white;
}

.header__userinfo {
    text-decoration: none;
    font-size: 2em;
    display: block;
    padding: 0 14px;
    color: white
};