.descriptionListItem {
    margin-bottom: 0.5em;
}
.descriptionWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--main-background);
    padding: 2em;
    margin-bottom: 3em;
}

.descriptionListItemStatus{
    padding:  1em 0;
    border-bottom: 1px solid #000;
    margin-bottom: 1em;
    text-align: right;
}

.descriptionImg{
    margin-right: 2em;
}
.contactsListItem{
    line-height: 2em;
}

.statusEdit{
    display: block;
    background-color: transparent;
    padding: 10px 20px;
    width: 160px;
    border: none;
    outline: 1px solid gray;
} 
.statusStatic{
    background-color:#80808052;
    padding: 10px 20px;
}
   
