.sideBarTitle {
  text-transform: uppercase;
}

.friensBar {
  background-color: rgb(253, 253, 253);
  margin: 0;
  padding: 1em;
  color: var(--main-color);
  font-weight: bold;
}

.friensList {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em;
  grid-auto-flow: row;
}

.friendsItemName {
  display: inline-block;
  font-size: 10px;
  color: #fff;
}

.friendsItem {
  align-items: center;
  margin-bottom: 1em;
  margin-right: 1em;
}

@media(min-width:650px) {
  .friensList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width:1150px) {
  .friensList {
    grid-template-columns: repeat(4, 1fr);
  }
}