.postImg {
    border-radius: 50%;
}

.post {
    margin-bottom: 2em;
    border-bottom: 1px solid #0000001f;
    margin-bottom: 2em;
    padding: 2em 1em;
}

.postsSendBtn{
    padding: 1em 2em;
    border: 0;
    background-color: #338F31;
    color: #fff;
}

.postRating {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.postImgWrapper {
    margin-bottom: 1em;
}


.posts__img {
    margin-bottom: 30px;
}