.postImg {
    border-radius: 50%;
}

.post {
    border-bottom: 1px solid #0000001f;
    margin-bottom: 2em;
    padding: 2em 1em;
}

.postsSendBtn {
    padding: 0.4em 2em;
    border: 0;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 16px;
    position: absolute;
    right: 0;
    top: 10;
}
.postsWrapper{
    position: relative;
}

.postsSendBtn:active {
    background-color: #d3d9de;
}

.postRating {
    display: flex;
    font-size: 1.3em;
    text-transform: initial;
    justify-content: space-between;
}

.postImgWrapper {
    margin-bottom: 1em;
}

.posts__img {
    margin-bottom: 30px;
}

.postLikeSvg {
    width: 30px;
    height: 30px;
}

.postsWrapper textarea {
    width: 100%;
    resize: none;
    height: 60px;
    margin-right: 5px;
    border: none;
    padding: 0.3em 1em;
    border-bottom: 1px solid var(--main-gray);

}


.posts {
    grid-area: content;
}

.postsHeader {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
    display: inline-block;
}

.postLikeSvg {
    background-color: transparent;
    border: none;
    margin-right: 1em;
}

.postBtnWrapper {
    display: flex;
    align-items: center;
}