.loginFormFieldset {
    padding: 2em;
    margin-bottom: 1em;
}

.loginLabel {
    display: block;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
}

.login {
    margin: 0 auto;
    width: 80%;
}

.loginInput {
    padding: 0.55em 1em;
    border: 2px solid var(--main-color);
    border-radius: 3px;
}

.loginFieldWrapper {
    margin-bottom: 1em;
}
