ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
* {
    outline: 1px ridge rgb(117 228 134);
} */

.common_form_error {
    color: #ffffff;
    padding: 1em;
    background-color: red;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
}

:root {
    --main-color:#3f51b5;
    --main-gray: #d3d9de;
    --main-background: #d3d9de70;
  }

.App {
    font-size: 14px;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 140px 1fr;
    height: 100vh;
    grid-gap: 2vw;
}

.preloader{
    width: 40px;
    height: 45px;
}

.dialog {
    background-color: aquamarine;
    height: 200px;
    width: 100%;
}


.content {
    color: #000;
    /*text-transform: uppercase;*/
}

@media(min-width:650px) {
    .App{
        grid-template-columns: 25% 1fr;
    }
}
