ul {
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* * {
    outline: 1px ridge rgb(117 228 134);
} */



.App {
    font-size: 14px;
    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 40% 1fr;
    height: 100vh;
    grid-gap: 2vw;
}



.header {
    background-color: #45688e;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0.5em;
}

.dialog {
    background-color: aquamarine;
    height: 200px;
    width: 100%;

}

.posts {
    grid-area: content;
}

.posts__header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

.posts__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1em;
}

.posts__wrapper textarea {
    width: 100%;
    resize: none;
    height: 60px;
    margin-right: 5px;
}


.content {
    color: #000;
    text-transform: uppercase;
}

@media(min-width:650px) {
    .App{
        grid-template-columns: 25% 1fr;
    }
}