ul {
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* * {
    outline: 1px ridge rgb(117 228 134);
} */

.post{
    margin-bottom: 2em;
    border-bottom: 1px solid #000;
}

.post_img{
    border-radius: 50%;
}

.App {
    font-size: 14px;
    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 20% 1fr;
    height: 100vh;
    grid-gap: 2vw;
}

.posts__img {
    /* width: 100px; */
    margin-bottom: 30px;
}

.header {
    background-color: #45688e;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0.5em;
}

.dialog{
    background-color: aquamarine;
    height: 200px;
    width: 100%;

}

.navigation__list {
    padding: 1em 1em;
    list-style: none;
}

.navigation__item a{
    text-decoration: none;
    color: azure;
}

.navigation__item  .navigation__item-active {
    color: gold;
}


.navigation__list li {
    margin-bottom: 1em;
}

.navigation {
    background-color: #45688e;
}

.content__list {
    margin-bottom: 40px;
}

.posts {
    grid-area: content;
}

.posts__header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

.posts__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1em;
}

.posts__wrapper textarea {
    width: 100%;
    resize: none;
    height: 60px;
    margin-right: 5px;
}


.posts_send-btn {
    padding: 1em 2em;
    border: 0;
    background-color: #338F31;
    color: #fff;
}

.content {
    color: #000;
    text-transform: uppercase;
}